<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bienvenidos a Mercadoliebre</title>

    <link rel="stylesheet" href="/css/styles.css" />

    <!--Importacion de la tipografia Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!--Importacion de los iconos-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>

  <body>
    <header>

      <div class="top-header">
        <div class="logo">
          <img
          src="/images/logo-mercado-liebre.svg"
          alt="Logo Mercadoliebre">
        </div>

        <div class="form" action="#" method="GET">
          <div class="input">Buscar productos, marcas y más</div>
          <div class="submit"><i class="fas fa-search lupa"></i></div>
        </div>

        <p>
          <i class="fas fa-hand-holding-usd"></i>
          <span class="upper">c</span>omprá en cuotas y sin tarjeta de crédito
        </p>
    </div>

      <nav>
        <ul class="nav-left">
          <li><a href="#"><span class="upper">o</span>fetas</a></li>
          <li><a href="#"><span class="upper">t</span>iendas <span class="upper">o</span>ficiales</a></li>
          <li><a href="#"><span class="upper">v</span>ender</a></li>
          <li><a href="#"><span class="upper">a</span>yuda</a></li>
        </ul>

        <br>
        
        <ul class="nav-right">
          <li><a href="/register"><span class="upper">c</span>reá tu cuenta</a> <i class="far fa-id-card"></i></li>
          <li><a href="/login"><span class="upper">i</span>ngresá</a> <i class="fas fa-sign-in-alt"></i></li>
          <li>
            <a href="#"><span class="upper">m</span>is compras</a> <i class="fas fa-shopping-basket"></i>
          </li>
        </ul>
      </nav>
      
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <!--SECCION DE BASADO EN ULTIMA VISITA-->

    <section class="banner">
      <div> <img src="/images/img-home-banner.jpg" alt="Banner" /></div>
    </section>

    <main>
      <section class="ultima-visita">
          <h3><span class="upper">b</span>asado en tu última visita</h3>
        
        <div class="productos">
          <article>
            <img
              src="/images/img-cafetera-moulinex.jpg"
              alt="Cafetera"
              class="imagen-prod"
            />

            <div class="detalle">
              <i class="fas fa-truck truck"></i>
              <p class="precios">$6.770</p>
              <p class="ofertas">40% <span class="upper">o</span>ff</p>
              <h4 class="descripcion"><span class="upper">c</span>afetera <span class="upper">m</span>oulinex</h4>
            </div>
          </article>

          <article>
            <div>
              <img src="/images/img-macbook-pro-2019.jpg"
              alt="MacBook"
              class="imagen-prod"
              />

              <div class="detalle">
                <i class="fas fa-truck truck"></i>
                <p class="precios">$230.000</p>
                <p class="ofertas">20% <span class="upper">o</span>ff</p>
                <h4 class="descripcion"><span class="upper">m</span>ac<span class="upper">b</span>ook <span class="upper">p</span>ro 2019</h4>
              </div>
          </article>

          <article>
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="Celular samsung"
              class="imagen-prod"
            />

            <div class="detalle">
              <i class="fas fa-truck truck"></i>
              <p class="precios">$70.500</p>
              <p class="ofertas">10% <span class="upper">o</span>ff</p>
              <h4 class="descripcion"><span class="upper">s</span>amsung <span class="upper">g</span>alaxy <span class="upper">s</span>10</h4>
            </div>
          </article>

          <article>
            <img
              src="/images/img-tv-samsung-smart.jpg"
              alt="TV smart"
              class="imagen-prod"
            />

            <div class="detalle">
              <i class="fas fa-truck truck"></i>
              <p class="precios">$23.200</p>
              <p class="ofertas">5% <span class="upper">o</span>ff</p>
              <h4 class="descripcion"><span class="upper">s</span>mart<span class="upper">t</span>v <span class="upper">s</span>amsung 43"</h4>
            </div>
          </article>
        </div>
      </section>

      <br>
      
      <!--SECCION DE OFERTAS-->

      <section>
        <h3><span class="upper">o</span>fertas</h3>

        <article>
          <img
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera"
            class="imagen-prod"
          />

          <div class="detalle">
            <i class="fas fa-truck truck"></i>
            <p class="precios">$6.770</p>
            <p class="ofertas">40% <span class="upper">o</span>ff</p>
            <h4 class="descripcion"><span class="upper">c</span>afetera <span class="upper">m</span>oulinex</h4>
          </div>
        </article>

        <article>
          <img 
          src="/images/img-macbook-pro-2019.jpg"
          alt="MacBook"
          class="imagen-prod"
          />

          <div class="detalle">
            <i class="fas fa-truck truck"></i>
            <p class="precios">$230.000</p>
            <p class="ofertas">20% <span class="upper">o</span>ff</p>
            <h4 class="descripcion"><span class="upper">m</span>ac<span class="upper">b</span>ook <span class="upper">p</span>ro 2019</h4>
          </div>
        </article>

        <article>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Celular samsung"
            class="imagen-prod"
          />

          <div class="detalle">
            <i class="fas fa-truck truck"></i>
            <p class="precios">$70.500</p>
            <p class="ofertas">10% <span class="upper">o</span>ff</p>
            <h4 class="descripcion"><span class="upper">s</span>amsung <span class="upper">g</span>alaxy <span class="upper">s</span>10</h4>
          </div>
        </article>

        <article>
          <img
            src="/images/img-tv-samsung-smart.jpg"
            alt="TV smart"
            class="imagen-prod"
          />

          <div class="detalle">
            <i class="fas fa-truck truck"></i>
            <p class="precios">$23.200</p>
            <p class="ofertas">5% <span class="upper">o</span>ff</p>
            <h4 class="descripcion"><span class="upper">s</span>mart<span class="upper">t</span>v <span class="upper">s</span>amsung 43"</h4>
          </div>
        </article>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
