<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Registro</title>

  <link rel="stylesheet" href="/css/register-styles.css" />

  <!--Importacion de la tipografia Roboto-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

  <!--Importacion de los iconos-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
  <header>

    <div class="top-header">
      <div class="logo">
        <img
        src="/images/logo-mercado-liebre.svg"
        alt="Logo Mercadoliebre">
      </div>

      <form class="form" action="#" method="GET">
        <input class="input" placeholder="Buscar productos, marcas y más">
        <button type="submit" class="submit"><i class="fas fa-search lupa"></i></button>
      </form>

      <p>
        <i class="fas fa-hand-holding-usd"></i>
        <span class="upper">c</span>omprá en cuotas y sin tarjeta de crédito
      </p>
    </div>

    <nav>
      <ul class="nav-left">
        <li><a href="#"><span class="upper">o</span>fetas</a></li>
        <li><a href="#"><span class="upper">t</span>iendas <span class="upper">o</span>ficiales</a></li>
        <li><a href="#"><span class="upper">v</span>ender</a></li>
        <li><a href="#"><span class="upper">a</span>yuda</a></li>
      </ul>

      <br>
      
      <ul class="nav-right">
        <li><a href="/register"><span class="upper">c</span>reá tu cuenta</a> <i class="far fa-id-card"></i></li>
        <li><a href="/login"><span class="upper">i</span>ngresá</a> <i class="fas fa-sign-in-alt"></i></li>
        <li>
          <a href="#"><span class="upper">m</span>is compras</a> <i class="fas fa-shopping-basket"></i>
        </li>
      </ul>
    </nav>
    
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
  </header>


  <form action="/views/register.html" method="POST">
    <div class="control-form">
      <input type="text" name="nombre" placeholder="Nombre y apellido" class="all-page" required>
    </div>

    <div class="control-form">
      <input type="text" name="usuario" placeholder="Nombre de usuario" class="all-page" required>
    </div>

    <label for="nacimiento">Fecha de nacimiento</label>

    <div class="control-form">
      <input type="date" name="nacimiento" class="all-page" required>
    </div>

    <div class="control-form">
      <input type="text" name="domicilio" placeholder="Domicilio" class="all-page" required>
    </div>

    <label name="perfil">Perfil de usuario</label>

    <div class="control-form">
      <div class="perfil"><input type="radio" name="perfil" value="comprador" class="check" required>Comprador</div>

      <div class="perfil"><input type="radio" name="perfil" value="vendedor" class="check" required>Vendedor</div>
    </div>

    <div class="control-form">
      <label for="categorias">Categorias de interes:</label>
    </div>

    <div class="control-form">
      <input type="checkbox" name="categorias" value="electro" class="check">Electro
    </div>

    <div class="control-form">
      <input type="checkbox" name="categorias" value="moda" class="check">Moda
    </div>

    <div class="control-form">
      <input type="checkbox" name="categorias" value="hogar" class="check">Hogar
    </div>

    <div class="control-form">
      <input type="checkbox" name="categorias" value="jugueteria" class="check">Jugueteria
    </div>

    <div class="control-form">
      <input type="checkbox" name="categorias" value="vida-sana" class="check">Vida Sana
    </div>

    <div class="control-form">
      <label for="foto">Selecciona foto de usuario:</label>  
      <input type="file" name="foto" accept=".jpg .png" required>
    </div>

    <div class="control-form">
      <input type="password" name="contraseña" placeholder="Contraseña" class="all-page" required>
    </div>

    <div class="control-form">
      <input type="password" name="conf-contraseña" placeholder="Confirmar contraseña" class="all-page" required>
    </div>

    <div class="botones">
      <button type="reset" class="borrar">Borrar</button>
      <button type="submit" class="enviar">Enviar</button>
    </div>
  </form>

  <footer>

    <div class="footer-info">
      <div class="pago">
        <i class="fas fa-credit-card footer-icon"></i>
        
        <h4>Pagá con tarjeta o en efectivo</h4>
        
        <p>Con MercadoLiebreCash tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </div>
      
      <div class="envio">
        <i class="fas fa-gift footer-icon"></i>
        
        <h4>Envío gratis desde los $2.500</h4>
        
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
      </div>
      
      <div class="seguridad">
        <i class="fas fa-user-shield footer-icon"></i>
        
        <h4>Seguridad de principio a fin</h4>
        
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
      </div>
      
    </div>
    <div class="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>

  </footer>
</body>

</html>