<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>

  <!--Importacion de la tipografia Roboto-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

  <!--Importacion de los iconos-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
  <form action="/registro" method="POST">
    <input type="text" name="nombre" placeholder="Nombre y apellido">
    <input type="text" name="usuario" placeholder="Nombre de usuario">

    <label for="nacimiento">Fecha de nacimiento</label>
    <input type="date" name="nacimiento">

    <input type="text" name="domicilio" placeholder="Domicilio">

    <label name="perfil">Perfil de usuario</label>
    <input type="radio" name="perfil" value="comprador">Comprador
    <input type="radio" name="perfil" value="vendedor">Vendedor

    <label for="categorias">
      Categorias de interes:
    </label>
    <input type="checkbox" name="categorias" value="electro">Electro
    <input type="checkbox" name="categorias" value="moda">Moda
    <input type="checkbox" name="categorias" value="hogar">Hogar
    <input type="checkbox" name="categorias" value="jugueteria">Jugueteria
    <input type="checkbox" name="categorias" value="vida-sana">Vida Sana

    <label for="foto">Selecciona foto de usuario:</label>
    <input type="file" name="foto" accept=".jpg .png">

    <input type="password" name="contraseña">
    <input type="password" name="conf-contraseña">

    <button type="submit">Enviar</button>
    <button type="reset">Borrar</button>
  </form>


</body>

</html>